# Web game pages kept locally but not deployed
/pelit.html
/dronedefend.html
/onnenpyora.html
/maantietopeli.html
/huijausviesti-simulaattori.html
/airhockey.html
/porvoovisa.html
/raamattuvisa.html
/bugijahti.html
/halloweengame.html
/erankavijan-shakki.html
/labyrintti.html
